In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('air_fare_train.csv')
#test = pd.read_csv('air_fare_test.csv')

In [3]:
data

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count
0,201201,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Europe,Thru / Transit,Other,International,G,25
1,201204,Hawaiian Airlines,HA,Hawaiian Airlines,HA,Domestic,US,Enplaned,Other,International,A,7634
2,201712,Emirates,EK,Emirates,EK,International,Middle East,Enplaned,Other,International,A,14343
3,201411,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Enplaned,Other,International,A,5822
4,202002,Delta Air Lines,DL,Delta Air Lines,DL,Domestic,US,Enplaned,Other,Terminal 1,C,143893
...,...,...,...,...,...,...,...,...,...,...,...,...
18537,201209,SkyWest Airlines,OO,Delta Air Lines,DL,Domestic,US,Deplaned,Other,Terminal 1,C,22049
18538,200910,Northwest Airlines (became Delta),NW,Northwest Airlines (became Delta),NW,Domestic,US,Enplaned,Other,Terminal 1,C,47951
18539,201407,Air Canada,AC,Air Canada,AC,International,Canada,Enplaned,Other,International,G,33238
18540,201801,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,98
18541,200810,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,Australia / Oceania,Enplaned,Other,International,G,7392

In [4]:
keys_to_take = ["Operating Airline", "Published Airline", "GEO Summary", "GEO Region", "Price Category Code"]
res = {"_".join(k.lower().split(" ")):v for k, v in data.items() if k in keys_to_take}
res

{'operating_airline': 0         United Airlines - Pre 07/01/2013
 1                        Hawaiian Airlines
 2                                 Emirates
 3                 KLM Royal Dutch Airlines
 4                          Delta Air Lines
                        ...
 18537                     SkyWest Airlines
 18538    Northwest Airlines (became Delta)
 18539                           Air Canada
 18540                        Swissport USA
 18541     United Airlines - Pre 07/01/2013
 Name: Operating Airline, Length: 18542, dtype: object,
 'published_airline': 0         United Airlines - Pre 07/01/2013
 1                        Hawaiian Airlines
 2                                 Emirates
 3                 KLM Royal Dutch Airlines
 4                          Delta Air Lines
                        ...
 18537                      Delta Air Lines
 18538    Northwest Airlines (became Delta)
 18539                           Air Canada
 18540                        Swissport USA
 18541     United Airlines - Pre 07/01/2013
 Name: Published Airline, Length: 18542, dtype: object,
 'geo_summary': 0        International
 1             Domestic
 2        International
 3        International
 4             Domestic
              ...
 18537         Domestic
 18538         Domestic
 18539    International
 18540         Domestic
 18541    International
 Name: GEO Summary, Length: 18542, dtype: object,
 'geo_region': 0                     Europe
 1                         US
 2                Middle East
 3                     Europe
 4                         US
                 ...
 18537                     US
 18538                     US
 18539                 Canada
 18540                     US
 18541    Australia / Oceania
 Name: GEO Region, Length: 18542, dtype: object,
 'price_category_code': 0        Other
 1        Other
 2        Other
 3        Other
 4        Other
          ...
 18537    Other
 18538    Other
 18539    Other
 18540    Other
 18541    Other
 Name: Price Category Code, Length: 18542, dtype: object}

In [8]:
for x in data.items():
    print(x)

('Activity Period', 0        201201
1        201204
2        201712
3        201411
4        202002
          ...
18537    201209
18538    200910
18539    201407
18540    201801
18541    200810
Name: Activity Period, Length: 18542, dtype: int64)
('Operating Airline', 0         United Airlines - Pre 07/01/2013
1                        Hawaiian Airlines
2                                 Emirates
3                 KLM Royal Dutch Airlines
4                          Delta Air Lines
                       ...
18537                     SkyWest Airlines
18538    Northwest Airlines (became Delta)
18539                           Air Canada
18540                        Swissport USA
18541     United Airlines - Pre 07/01/2013
Name: Operating Airline, Length: 18542, dtype: object)
('Operating Airline IATA Code', 0         UA
1         HA
2         EK
3         KL
4         DL
        ...
18537     OO
18538     NW
18539     AC
18540    NaN
18541     UA
Name: Operating Airline IATA Code, Length: 18542, dtype: object)
('Published Airline', 0         United Airlines - Pre 07/01/2013
1                        Hawaiian Airlines
2                                 Emirates
3                 KLM Royal Dutch Airlines
4                          Delta Air Lines
                       ...
18537                      Delta Air Lines
18538    Northwest Airlines (became Delta)
18539                           Air Canada
18540                        Swissport USA
18541     United Airlines - Pre 07/01/2013
Name: Published Airline, Length: 18542, dtype: object)
('Published Airline IATA Code', 0         UA
1         HA
2         EK
3         KL
4         DL
        ...
18537     DL
18538     NW
18539     AC
18540    NaN
18541     UA
Name: Published Airline IATA Code, Length: 18542, dtype: object)
('GEO Summary', 0        International
1             Domestic
2        International
3        International
4             Domestic
             ...
18537         Domestic
18538         Domestic
18539    International
18540         Domestic
18541    International
Name: GEO Summary, Length: 18542, dtype: object)
('GEO Region', 0                     Europe
1                         US
2                Middle East
3                     Europe
4                         US
                ...
18537                     US
18538                     US
18539                 Canada
18540                     US
18541    Australia / Oceania
Name: GEO Region, Length: 18542, dtype: object)
('Activity Type Code', 0        Thru / Transit
1              Enplaned
2              Enplaned
3              Enplaned
4              Enplaned
              ...
18537          Deplaned
18538          Enplaned
18539          Enplaned
18540          Deplaned
18541          Enplaned
Name: Activity Type Code, Length: 18542, dtype: object)
('Price Category Code', 0        Other
1        Other
2        Other
3        Other
4        Other
         ...
18537    Other
18538    Other
18539    Other
18540    Other
18541    Other
Name: Price Category Code, Length: 18542, dtype: object)
('Terminal', 0        International
1        International
2        International
3        International
4           Terminal 1
             ...
18537       Terminal 1
18538       Terminal 1
18539    International
18540    International
18541    International
Name: Terminal, Length: 18542, dtype: object)
('Boarding Area', 0        G
1        A
2        A
3        A
4        C
        ..
18537    C
18538    C
18539    G
18540    A
18541    G
Name: Boarding Area, Length: 18542, dtype: object)
('Passenger Count', 0            25
1          7634
2         14343
3          5822
4        143893
          ...
18537     22049
18538     47951
18539     33238
18540        98
18541      7392
Name: Passenger Count, Length: 18542, dtype: int64)

In [ ]:
res["target"] = int(data["Passenger Count"])
res["year"] = int(str(data['Activity Period'])[:4])
res["month"] = int(str(data['Activity Period'])[-2:])

return res

In [7]:
data.items()

In [3]:
h_letters = []

for letter in "human":
    h_letters.append(letter)

h_letters

['h', 'u', 'm', 'a', 'n']

In [5]:
h_letters = [letter for letter in "human"]

h_letter

['h', 'u', 'm', 'a', 'n']

In [28]:
transposed = []
matrix = [[1,2,3,4],[5,6,7,8]]

In [29]:
for i in range(len(matrix[0])):
    transposed_row = []
    
    for row in matrix:
        transposed_row.append(row[i])
    
    transposed.append(transposed_row)
    
transposed

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [30]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [38]:
transpose = [row[0] for row in matrix]
transpose

[1, 3, 5, 7]